:root{
    --headerColor:rgb(68, 12, 121);
}

h1 {
    color: var(--headerColor);
    line-height: 1.25;
    font-weight: 700;
    margin: 0;
    box-shadow: 10px 10px;
}

#footer {
    justify-content: center;
}
